smartplanner/target/*
smartplanner/.settings
smartplanner/.classpath
smartplanner/.project
smartplanner/src/test/resources/trentino
smartplanner/src/test/resources/bassano
smartplanner/src/test/resources/bologna
smartplanner/src/test/resources/brenerro
smartplanner/src/test/resources/fare
smartplanner/src/test/resources/ftm
smartplanner/src/test/resources/scripts
smartplanner/src/test/resources/shapes
smartplanner/src/test/resources/tn-routemodel.json
smartplanner/src/test/resources/exception-trips.json
smartplanner/src/test/java/it/sayservice/platform/mockmvc
smartplanner/src/test/java/it/sayservice/platform/smartplanner/annotated
smartplanner/src/test/java/it/sayservice/platform/smartplanner/test
smartplanner-beans/target/*
smartplanner-beans/.classpath
smartplanner-beans/.project
smartplanner-beans/.settings
